/* purgecss start ignore */
@tailwind base;

@tailwind components;
/* purgecss end ignore */

html {
    position: relative;
    min-height: 100%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

@tailwind utilities;
